@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


  .pac-container {
    z-index: 9999;
    border: 2px solid red;
    cursor: pointer;
  }

  .pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  border: 2px solid lime;
  background-image: none !important;
  height: 0px;
}

.pac-container .pac-item {
  height: 50px;
  padding: 12px;
}

.autocomplete-dropdown {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  border: "2px solid lime";
}

/* ✅ Make popup smaller and properly positioned on mobile */
@media (max-width: 640px) {
  .datepicker-popper {
    transform: scale(0.9) !important;
    transform-origin: top center !important;
    z-index: 9999 !important;
  }

  .react-datepicker {
    font-size: 0.8rem !important;
    width: 95vw !important;
    max-width: 235px !important;
    margin-top: 35px;
  }

  .react-datepicker__month-container {
    width: 100% !important;
  }

  .react-datepicker__time-container {
    width: 80px !important;
  }

  .react-datepicker__triangle {
    display: none !important; /* hides the pointer arrow */
  }
}

